<mat-card class="auth-card">

    <mat-tab-group [@.disabled]="true">

        <mat-tab class="log-in__tab" label="Вход">

            <mat-form-field class="log-in">
                <input [formControl]="email" matInput placeholder="Введите email" autocomplete="off" required>
                <mat-error *ngIf="this.email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="log-in">
                <input [formControl]="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Введите пароль" required>
                <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="this.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button class="auth-button" (click)="login()">Войти</button>

            <p class="err" *ngIf="error">Неправильный логин или пароль</p>
        </mat-tab>

        <mat-tab label="Регистрация">
            <mat-form-field class="log-in">
                <input [formControl]="email" matInput placeholder="Введите email" required>
                <mat-error *ngIf="this.email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="log-in">
                <input [formControl]="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Введите пароль" required>
                <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="this.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button class="auth-button" (click)="registration()">Зарегистрироваться</button>
        </mat-tab>
    </mat-tab-group>

</mat-card>
