* {
    outline: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar.mat-toolbar {
    background: transparent;
    padding: 0;
}

.mat-button:focus .mat-button-focus-overlay {
    background-color: transparent;
}
